* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
header {
  border: solid green;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: black;
  color: white;
  font-size: 170%;
}

nav {
  border: solid blue;
  display: flex;
  margin-left: 23%;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 80%;
  color: white;
  border: solid red;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: yellow;
}

.Name {
  border: solid yellow;
  font-size: 150%;
  margin-left: 2%;
  color: white;
}

.knapp {
  font-size: 100%;
  margin-top: 1%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  border: none;
  background-color: yellow;
  color: black;
  width: 10%;
  height: auto;
  border-radius: 10px;
}

.tider {
  color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: 3%;
  text-decoration: none;
  font-size: 150%;
  color: white;
  border: solid red;
  transition: all 0.3s ease 0s;
}

.links a {
  text-decoration: none;
  font-size: 80%;
  color: white;
  border: solid red;
  transition: all 0.3s ease 0s;
}

.links a:hover {
  color: yellow;
}

.allt {
  border: solid red;
  background-color: rgba(36, 35, 35, 0.514);
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 5%;
}

.textbox {
  border: solid red;
  color: white;
  font-size: 230%;
  width: 80%;
  margin-left: 10%;
  margin-top: 7%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox2 {
  border: solid greenyellow;
  text-decoration: none;
  color: white;
  font-size: 230%;
  width: 30%;
  margin-left: 5%;
  margin-top: 8%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox2 a {
  color: white;
  transition: all 0.3s ease 0s;
}
.textbox2 a:hover {
  color: yellow;
}

.textbox3 {
  border: solid red;
  color: white;
  font-size: 230%;
  width: 30%;
  margin-left: 5%;
  margin-top: 4%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox4 {
  border: solid red;
  color: white;
  font-size: 230%;
  width: 30%;
  margin-left: 55%;
  margin-top: -45%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox5 {
  border: solid red;
  color: white;
  font-size: 230%;
  width: 50%;
  margin-left: 45%;
  margin-top: -17%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox5 a {
  color: white;
  transition: all 0.3s ease 0s;
}

.textbox5 a:hover {
  color: yellow;
}

.textbox6 {
  border: solid red;
  color: white;
  font-size: 230%;
  width: 50%;
  margin-left: 27%;
  margin-top: 8%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox7 {
  border: solid red;
  color: white;
  font-size: 230%;
  width: 45%;
  margin-left: 27%;
  margin-top: 5%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox8 {
  border: solid red;
  color: white;
  font-size: 230%;
  width: 50%;
  margin-left: 27%;
  margin-top: 5%;
  background-color: rgba(36, 35, 35, 0.514);
}

.textbox8 a {
  color: white;
  transition: all 0.3s ease 0s;
}

.textbox8 a:hover {
  color: yellow;
}

style .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form {
  border: solid yellow;
  width: 25%;
  height: auto;
  margin-left: 37%;
  margin-top: 5%;
  background-color: rgba(36, 35, 35, 0.514);
}

.form2 {
  border: solid yellow;
  width: 25%;
  height: auto;
  margin-left: 37%;
  margin-top: 5%;
  background-color: rgba(36, 35, 35, 0.514);
}

.text {
  text-decoration: none;
  color: white;
  border: solid red;
  width: 50%;
  margin-left: 23%;
  margin-top: 10%;
  font-size: 160%;
}

.text2 {
  text-decoration: none;
  color: white;
  border: solid red;
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 8%;
  font-size: 160%;
}

.text3 {
  text-decoration: none;
  color: white;
  border: solid red;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  font-size: 260%;
}

.e-mail {
  display: flex;
  border: solid red;
  height: 10%;
  width: 14%;
  margin-left: 23%;
}

.lösenord {
  display: flex;
  border: solid blueviolet;
  height: 10%;
  width: 14%;
  margin-left: 23%;
  margin-top: 0%;
}

.logga-in {
  display: flex;
  border: solid aqua;
  height: 10%;
  width: 5%;
  margin-left: 40%;
  margin-top: 0%;
}
.skapa {
  text-decoration: none;
  color: white;
  display: flex;
  border: solid green;
  width: 55%;
  font-size: 80%;
  margin-left: 23%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.skapa a {
  color: white;
  transition: all 0.3s ease 0s;
}

.skapa a:hover {
  color: yellow;
}

.skapa-konto a {
  display: flex;
  margin-left: 35%;
  border: solid aqua;
  height: 10%;
  width: 30%;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}
.skapa-konto a:hover {
  color: yellow;
}

.tider {
  background-color: rgba(36, 35, 35, 0.514);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: solid red;
  width: 30%;
  height: auto;
  margin-left: 5%;
  margin-top: 10%;
}

.tid {
  border: solid yellow;
  font-size: 190%;
  width: 40%;
  margin-top: -50%;
  margin-left: 50%;
}

.dag {
  border: solid yellow;
  font-size: 190%;
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
}

.boka {
  display: flex;
  border: solid green;
  width: 11%;
  margin-left: 40%;
  margin-top: 13%;
  margin-bottom: 1%;
}

.tillfälligt {
  display: flex;
  justify-content: center;
  border: solid red;
  background-color: red;
  color: white;
  font-size: 100%;
}

.bild {
  display: flex;
  border: solid red;
  width: 50%;
  height: auto;
  margin-left: 27%;
  margin-top: 1%;
}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(bok.jfif);
}
