* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
header {
  border: solid green;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: black;
  color: white;
  font-size: 170%;
}

nav {
  border: solid blue;
  display: flex;
  margin-left: 20%;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 80%;
  color: white;
  border: solid red;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: yellow;
}

.Name {
  border: solid yellow;
  font-size: 150%;
  margin-left: 2%;
  color: white;
}

.knapp {
  font-size: 100%;
  margin-top: 1%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  border: none;
  background-color: yellow;
  color: black;
  width: 10%;
  height: 70%;
  border-radius: 10px;
}

.tider {
  color: white;
}

.text-box {
  border: solid red;
  color: white;
  width: 30%;
  margin-left: 33%;
  margin-top: 8%;
  background-color: black;
}

style .form {
  display: flex;
  flex-direction: column;
  border: solid yellow;
  width: 100%;
  height: 100%;
}

.e-mail {
  display: flex;
  border: solid red;
  height: 50%;
  width: 14%;
  margin-left: 42%;
}

.lösenord {
  display: flex;
  margin-left: 42%;
  border: solid blueviolet;
  height: 30%;
  width: 14%;
}

.logga-in {
  display: flex;
  margin-left: 47%;
  border: solid aqua;
  height: 50%;
  width: 5%;
}
style .tider {
  display: flex;
  border: solid green;
  width: 20%;
  height: 20%;
}

.tillfälligt {
  display: flex;
  justify-content: center;
  border: solid red;
  background-color: red;
  color: white;
  font-size: 100%;
}

.skapa {
  display: flex;
  border: solid green;
  width: 16%;
  margin-left: 42%;
  font-size: 80%;
}

.skapa-konto {
  display: flex;
  margin-left: 47%;
  border: solid aqua;
  height: 50%;
  width: 5%;
}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(bok.jfif);
}
/*
@media (max-width: 700px) {
  .nav_links {
    font-size: 30px;
  }
  */
